
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#EsLint
.eslintcache

#Allure Report
allure-results
allure-report

#Enviroment
.env
